/*Top of the page*/
header{
    background-color: rgb(46, 58, 80);
    height: 135px;
    color: rgb(241, 235, 221);
    text-align:center;
    font-size:6rem;
    font-family: 'Georgia', serif;
    text-decoration: underline;
    border: 5px solid rgb(1, 189, 236);
    margin-bottom: 20px;
}

/*Top Navigation Panel*/
.Navigation_panel{
    background-color: rgb(46, 58, 80);
    color:rgb(241, 235, 221);
    text-align: center;
    text-decoration: underline;
    border: 5px solid rgb(1, 189, 236);
    margin-top: 10px;
    margin-bottom: 10px;
}

/*To display naviagtion panel in a single line*/
li{
    display: inline-block;
    margin:0 10px;
}

/*Main area of blog*/
.Blog_area{
    display:flex;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}

/*Under the main area, where the article resides*/
.Article{
    background-color: rgb(46, 58, 80);
    color: rgb(241, 235, 221);
    width: 1400px;
    padding: 15px;
    border: 5px solid rgb(1, 189, 236);
    margin-top:10px;
    margin-bottom:10px;
}

/*Side Bar*/
.Side_nav{
    height: 100%;
    background-color: rgb(46, 58, 80);
    color: rgb(241, 235, 221);
    padding: 15px;
    border: 5px solid rgb(1, 189, 236);
    width: 330px;
    height: 100%;
    margin-left: 20px;
    margin-top: 10px;
}

/*Links*/
a:link, a:visited {
    background-color: rgb(194, 2, 2);
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: rgb(2, 19, 56);
}


/*End of the page*/
footer{
    background-color: rgb(46, 58, 80);
    height: 100px;
    padding: 10px;
    color: rgb(241, 235, 221);
    text-align:center;
    font-size:25px;
    font-family: 'Georgia', serif;
    text-decoration: dotted;
    border: 5px solid rgb(1, 189, 236);
    margin-top: 10px;
}

/*button animation*/
.Main_page{
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 225px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.Main_page span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.Main_page span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.Main_page:hover span{
    padding-right: 25px;
}
  
.Main_page:hover span:after{
    opacity: 1;
    right: 0;
}